
::-webkit-scrollbar {
  width: 6px;

}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #D4D4D4;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #868686;
}



.contrainerHeader {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

h1 {
    margin: 0;
    margin-left: 2%;
    font-weight: bold;
    font-size: 96px;
    letter-spacing: -5.76px;
    color: #D6413E;
}

.logo {
    margin-left: 5px;
    width: 118px;
    height: 62px;
}

.table {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableDisplay {
    width: 95%;
    height: 512px;
    border: 2px solid #D6413E;
}

.containerCreateBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.typeBlock {
    height: 277px;
    width: 30%;
    border: 2px solid #D6413E;
    border-top: none;
    border-left: none;
}


.nameBlock {
    height: 247px;
    width: 60%;
    border: 2px solid #D6413E;
    border-top: none;
    border-left: none;
    border-right: none;
    overflow: auto;
}

.typeBlock,
.nameBlockUL{
    display: flex;
    flex-direction: column;
}
ul.nameBlockUL li{
    border: 2px solid #D6413E;
    border-left:none;
    border-top: none;
    border-right: none;
}
.imgContainerBlock {
    width: 30%;
    height: 277px;
    border: 2px solid #D6413E;
    border-top: none;
    border-right: none;
}

.searchForm{
    width: 100%;
    display: inline-flex;
    height: 63;
}
ul.nameBlockUL .searchForm{
    margin-top: 1.5px;
}

.searchForm__txt{
    font-size: 32px;
    padding-left: 43px;
    padding-bottom: 13px;
    background: none;
    width: 100%;
}
.searchForm__txt:focus{
   outline: none;
}
.searchForm__btn{
    padding-right: 11px;
    background: none;
}

.nameBlock .searchForm__btn{
    padding-right: 40px;
    padding-bottom: 13px;
}
.searchForm__img {
    width: 43px;
    height: 37px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.developers {
    font-size: 14px;
    color: #515151;
    text-align: center;
}

.developers li {
    font-size: 14px;
    color: #515151;
}

.btn-type,
.btn-name {
    cursor: pointer;
    transition: all 0.2s;
    width: 100%

}
ul.typeBlockUl li{
    border: 2px solid #D6413E;
    height: 70px;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
}
ul.typeBlockUl li:last-child{
    border: none;
}
.btn-type{
    background: none;
    height: 100%;
}
ul.nameBlockUl li:last-child{
    border: none;
}
.btn-name{
    
    background: none;
    height: 31px;
}

.btn-type:hover,
.btn-name:hover {
    opacity: 0.8;
}

.btn-type.active,
.btn-name.active {
    background-color: #D6413E;
    color: white;
}
