* {
    color: #D4D4D4;
    list-style: none;
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
}

body {
    background-color: #1E1E1E;
    font-family: Helvetica, sans-serif;
    word-wrap: none;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

input, button {
    font-family: inherit;
}
